/* You can add global styles to this file, and also import other style files */
@charset 'utf8';

html{
    height: 100%
}

.datepicker-container{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
